.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.navbar{
    background:#2B78E4!important;
    padding: 20px 0px;
    color: #fff;
}

.navbar-not-homepage{
    padding:10px 0px 0px 0px;
    background:#2B78E4!important;
    color: #fff;
}



#user-name{
  margin-top:5px!important;
}

#logo-text{
    margin-top:0px!important;
}

#login-button{
    background:#9EC4F6;
    color:#000;
    box-shadow: 2px 2px 5px #000;
    border: 2px solid #000;
}


#signup-button{
    font-size:16px;
    color:#fff;
    box-shadow: 2px 2px 5px #000;
    border: 2px solid #000;
}

.padding-bottom{
  padding-bottom: 10px;
}

.padding-left{
  padding-left: 5%;
}

.container{
  position:relative;
}

/*----------------------------------------USER SECTION-------------------------------------*/

#user-menu{  
  height: 65px;
  color: #000;
  border: 1px solid #000; 
  border-top:none;
}

.user-links{
  padding-top: 25px;
}

#user-cover{
  border: 1px solid #000;
}

#user-picture{
  position:absolute;
  top:130px;
  left: 50px;
  border:1px solid #000;
  overflow: auto;
}

#user-name-picture{
  position:absolute;
  top:200px;
  left: 280px;
  font-size: 18px;
  font-weight: 600;
}

/*----------------------------------------ABOUT and FRIEND SECTION-------------------------------------*/

#about-menu,#friends-menu{  
  height: 55px;
  color: #000;
  border: 1px solid #000; 

  
}
#about-menu-info,#friends-menu-info{  
   border: 1px solid #000;
   border-top: none;
   padding-top: 20px; 
   overflow:auto;
}

#edit-profile{
  background: #297BE5;
  color:#fff;
  box-shadow: 2px 2px 5px #000;
  border: 2px solid #000;
}

.about-links{
  padding-top: 15px;
}

#about-text{
  font-size: 24px;
  font-weight: 600;
}

#basic-info,#contact-info,#words-info, #aboutme-info{
  font-size: 24px;
}

.friend-info{
  border: 1px solid #000;
  margin-bottom: 10px;
  margin-right:5px;
  
}

.friend-picture{
  float: left;
  margin: 5px 2px;
}

.friend-name{
  margin-top: 25px;
}

.unfriend-button{
  margin-top: 35px;
  background: #DEDEDE;
  box-shadow: 2px 2px 5px #000;
  border: 2px solid #000;

}

.friend-row{
 margin-left: 150px;
}
/*---------------NO MARGINS and NO PADDINGS -------------------------------------*/



.no-right-margin{
  margin-right: 0px;
}

.no-top-margin{
  margin-top:0px!important;
}

.no-left-padding{
   padding-left:0px!important;
}

.no-right-padding{
   padding-right:0px!important;
}

.no-padding{
  padding: 0px!important;
}

