.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.navbar{
    background:#2B78E4!important;
    padding: 20px 0px;
    color: #fff;
}

#logo-text{
    margin-top:0px!important;
}

#login-button{
    background:#9EC4F6;
    color:#000;
    box-shadow: 2px 2px 5px #000;
    border: 2px solid #000;
}
.no-left-padding{
   padding-left:0px!important;
}

.no-right-padding{
   padding-right:0px!important;
}

#signup-button{
    font-size:16px;
    color:#fff;
    box-shadow: 2px 2px 5px #000;
    border: 2px solid #000;
}